.subButton {
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    height: 40px;
    min-width: 108px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 21px;
    width: 12.5rem;
}