@use "../../styles/variables.scss";
.mainContent {
  flex: 1;
  padding: 1.5rem;
}

.container {
  max-height: calc(100vh - 100px);
  max-width: 80rem; /* max-w-7xl */
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-bottom: 1.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-primary);
}

.subtitle {
  color: var(--text-secondary);
  margin-top: 0.25rem;
}
