.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--white-color);
}

@media (max-width: 768px) {
    .wrapper {
        background-color: var(--black-color);
        align-items: stretch;
    }
}