.error {
    color: var(--error-color);
    font-size: 13px;
}

.input {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 15px;
    transition: all 0.2s;
}

.input:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-color); /* Using primary color for shadow */
}