.commentWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.commentItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.avatarWrapper {
  display: flex;
  align-self: flex-start;
  flex: 0 0 auto;
}

.avatarContainer {
  width: 40px;
  height: 40px;
  object-fit: cover;
  display: flex;
  align-self: flex-start;
  flex: 0 0 auto;
  
}

.avatarImg {
  border-radius: 50%;
  img {
    width: 100%;
    height: 100%;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 auto;
  overflow-wrap: break-word;
  word-break: break-word;
  gap: 5px;
  letter-spacing: 0.0938px;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.usernameText, .commentText {
  font-family: "TikTokFont", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Roboto", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.usernameText {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}

.commentText {
  font-weight: 490;
  font-size: 14px;
  color: rgb(22, 24, 35);
}

.subContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subLeft {
  display: flex;
  gap: 12px;
  align-items: center;
}

.dateText {
  color: var(--ui-text-3);
  font-size: 13px;
}

.replyBtn {
  background: none;
  border: none;
  color: var(--ui-text-3);
  cursor: pointer;
  font-size: 13px;
}

.likeWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--ui-text-3);
  cursor: pointer;
}

.replyContainer {
  margin-left: 48px;
}

.viewRepliesBtn {
  background: none;
  border: none;
  color: var(--ui-text-3);
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}