@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(254, 44, 85);
  --primary-color-dark: rgb(229, 25, 68);
  --primary-color-darker: rgb(204, 22, 60);
  --primary-color-light: rgba(254, 44, 85, 0.1);
  --white-color: #fff;
  --black-color: #000;
  --text-color: #161823;
  --text-color-secondary: rgba(22, 24, 35, 0.75);
  --grey-color: #f1f1f2;
  --border-color: rgba(22, 24, 35, 0.12);
  --border-color-secondary: rgba(22, 24, 35, 0.2);
  --background-color: #fff;
  --background-color-secondary: #f8f8f8;
  --background-color-hover: #f1f1f2;
  --modal-background: rgba(0, 0, 0, 0.5);
  --sidebar-width: 356px;
  --default-layout-header-height: 60px;
  --default-layout-horizontal-spacer: 24px;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --error-color: red;
  --gold-color: #d4a850;
  --blue-color: #25b4ec;

  /* Deprecated - will be removed */
  --background-grey-color: rgba(0, 0, 0, .05);
  --text-grey-color: rgba(22, 24, 35, 0.75);
  --hover-color: #f1f1f2;
}

[data-theme='dark'] {
  --primary-color: rgb(254, 44, 85);
  --white-color: #0d0d0d;
  --black-color: #fff;
  --text-color: #fff;
  --grey-color: #282828;
  --border-color: rgba(255, 255, 255, 0.2);
  --background-color: #1a1a1a;
  --background-grey-color: hsla(0, 0%, 100%, .13);
  --text-grey-color: rgba(255, 255, 255, 0.75);
  --hover-color: #3a3b3c;
  --modal-background: rgba(0, 0, 0, 0.7);
  --box-shadow-color: rgba(255, 255, 255, 0.1);
  --error-color: #ff6b6b;
}


body {
  overflow-x: hidden !important;
}