@use "./styles/variables.scss";

.studioPage {
  display: flex;
  height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
  overflow: hidden;
  font-family: "TikTokFont", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, "Roboto", "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  overflow-y: auto;
}
